<div class="row">
  <div class="card honour-banner">
    <div class="card-body">
      <div class="media border-0 ml-2">
        <div class="ribbon blue">
          <span>{{ empoyeeAward.award }}</span>
        </div>
        <img
          class="mr-3 rounded-circle mt-2"
          [src]="empoyeeAward.photoUrl"
          width="190"
          alt="Generic placeholder image"
        />
        <div class="media-body" id="reward-card">
          <h4 class="mt-3 mb-0 display-6">{{ empoyeeAward.name }}</h4>
          <br />
          <span class="badge badge-pill badge-primary">{{
            empoyeeAward.tribe
          }}</span>
          <p class="mt-3 ml-1 lead">
            {{ empoyeeAward.description | summary }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
