<div class="row">
  <div class="media border-0 ml-4">
    <div class="ribbon blue"><span>Kudos</span></div>
    <img
      class="mr-3 rounded-circle mt-3"
      src="assets/images/users/2.jpg"
      width="200"
      alt="Generic placeholder image"
    />
    <div class="media-body" id="reward-card">
      <h4 class="mt-3 mb-0 display-5">John Doe</h4>
      <br />
      <span class="badge badge-pill badge-primary">Enablement</span>
      <p class="mt-4 lead">
        {{ description | summary }}
      </p>
    </div>
  </div>
</div>
