<!-- <footer class="footer">
  <span> © 2019 cxLoyalty Group, Inc. </span>
  <span>All rights reserved.</span>
  <span class="float-right">
    <i class="fa fa-power-off text-success"></i>
    <b> Powered By Tavisca</b></span
  >
</footer> -->
<footer class="footer p-1 d-flex justify-content-between bd-highlight mb-3 ">
  <span class="p-1 bd-highlight"> <b>© 2019 cxLoyalty Group, Inc.</b> </span>
  <span class="p-1 bd-highlight"> <b>All rights reserved.</b> </span>
  <span class="p-1 bd-highlight">
    <i class="fa fa-power-off text-success"></i> <b> Powered By Tavisca</b>
  </span>
</footer>
