<div class="card">
  <div class="card-body">
    <h4 class="card-title">TimeLine</h4>
    <div class="card-body container">
      <div class="profiletimeline marquee">
        <div class="sl-item">
          <div class="sl-left">
            <img
              src="assets/images/users/1.jpg"
              alt="user"
              class="img-circle"
            />
          </div>
          <div class="sl-right">
            <div>
              <a href="#" class="link">John Doe</a>
              <span class="sl-date">5 minutes ago</span>
              <p>assign a new task <a href="#"> Design weblayout</a></p>
            </div>
          </div>
        </div>
        <hr />
        <div class="sl-item">
          <div class="sl-left">
            <img
              src="assets/images/users/1.jpg"
              alt="user"
              class="img-circle"
            />
          </div>
          <div class="sl-right">
            <div>
              <a href="#" class="link">John Doe</a>
              <span class="sl-date">5 minutes ago</span>
              <p>assign a new task <a href="#"> Design weblayout</a></p>
            </div>
          </div>
        </div>
        <hr />
        <div class="sl-item">
          <div class="sl-left">
            <img
              src="assets/images/users/1.jpg"
              alt="user"
              class="img-circle"
            />
          </div>
          <div class="sl-right">
            <div>
              <a href="#" class="link">John Doe</a>
              <span class="sl-date">5 minutes ago</span>
              <p>assign a new task <a href="#"> Design weblayout</a></p>
            </div>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>
