<div class="row">
  <div class="col-12">
    <div class="card honour-banner">
      <div class="card-body">
        <!-- <honour-banner></honour-banner> -->
        <app-reward-card></app-reward-card>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4 stats-card">
    <dashboard-timesheet-stats></dashboard-timesheet-stats>
  </div>
  <div class="col-4 stats-card ">
    <dashboard-pr-stats></dashboard-pr-stats>
  </div>
  <div class="col-4 stats-card">
    <dashboard-timeline></dashboard-timeline>
  </div>
</div>
