<div class="row">
  <div class="col-12">
    <!-- <div class="card honour-banner">
      <div class="card-body">
        <honour-banner></honour-banner>
        <app-reward-card></app-reward-card>
       
      </div>
    </div> -->
    <ngb-carousel
      [showNavigationArrows]="showNavigationArrows"
      [showNavigationIndicators]="showNavigationIndicators"
      interval="2000"
      wrap="true"
    >
      <ng-template ngbSlide>
        <honour-banner></honour-banner>
      </ng-template>
      <ng-template ngbSlide>
        <app-reward-card></app-reward-card>
      </ng-template>
      <ng-template ngbSlide>
        <honour-banner></honour-banner>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
<div class="row">
  <div class="col-4 stats-card">
    <dashboard-timesheet-stats></dashboard-timesheet-stats>
  </div>
  <div class="col-4 stats-card ">
    <dashboard-pr-stats></dashboard-pr-stats>
  </div>
  <div class="col-4 stats-card">
    <dashboard-timeline></dashboard-timeline>
  </div>
</div>
