<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Winner</h4>
        <!-- <app-reward-card></app-reward-card> -->
        <honour-banner></honour-banner>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4 stats-card">
    <dashboard-timesheet-stats></dashboard-timesheet-stats>
  </div>
  <div class="col-4 stats-card ">
    <dashboard-pr-stats></dashboard-pr-stats>
  </div>
  <div class="col-4 stats-card">
    <dashboard-timeline></dashboard-timeline>
  </div>
</div>
