/* You can add global styles to this file, and also import other style files */

@import "~perfect-scrollbar/css/perfect-scrollbar.css";

.ps .ps__scrollbar-y-rail {
  left: 3px;
  right: auto;
}

.carousel-item {
  /* transition: opacity 1s opacity 2s ease-in-out !important; */
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
  animation: slideFromLeft 2s;
  animation-delay: 2s;
}
@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: none;
  }
}
